@import './footer';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

* {
  box-sizing: border-box;
}

.code-container {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin: 0 auto;
  h1 {
    font-size: calc(1vw + 5vh + .5vmin);
    font-family: 'Merienda', cursive;
    color: $secondary;
  }
}

.chat-rooms {
  margin: 0 auto;
  div {
    font-size: 120%;
  }

}

.btn {
  background-color: $primary;
  color: #fff;
  font-size: 100%;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus {
  outline: none;
}

.chat-window li{
  min-width: 50vw;
  background-color: $secondary;
  color: #fff;
}

.new-chat div, .name-update div{
  min-width: calc(20vw + 20vh + 20px)
}

.username {
  color: #EF476F;
  font-weight: 400;
  font-size: 1.5rem;
}

.time {
  font-size: 0.8rem;
  color: gray;
}
